---
layout: default
---
<!-- page.html -->
        <div class="post">

          <header class="post-header">
            
            {% unless page.hidetitle == true %}<h1 class="post-title">{{ page.title }}</h1>{% endunless %} 
            <p class="post-description">{{ page.description }}</p>
          </header>

          <article>
            {{ content }}
          </article>

          {%- if page.related_publications != null and page.related_publications.size > 0 -%}
          {% assign publications = page.related_publications | replace: ", ", "," | split: "," | join: "|" %}
          <h2>References</h2>
          <div class="publications">
            {% bibliography -f {{ site.scholar.bibliography }} -q @*[key^={{ publications }}]* %}
          </div>
          {%- endif %}

          {% if page.cv_pdf %}
            <div id="pdf-viewer" style="height: 100vh"></div>
 
            <script type="module">
              import EmbedPDF from "{{ 'assets/js/embedpdf.js' | relative_url }}";
              document.addEventListener("DOMContentLoaded", () => {
                EmbedPDF.init({
                  type: 'container',
                  target: document.getElementById('pdf-viewer'),
                  disabledCategories: [
                    'annotation', 'form', 'redaction', 'panel-comment', 'panel-sidebar', 'insert',
                    'document-open', 'document-close', 'document-print', 'document-capture',
                    'document-protect'
                  ],
                  src: "{{ page.cv_pdf | relative_url }}",
                  theme: { preference: 'system' },
                });
              });
            </script>
          {% endif %}

          {%- if site.giscus.repo and page.giscus_comments -%}
            {% include giscus.html %}
          {%- endif -%}
        </div>
